<div class="row mb-10">

    <div class="col p-xy">
        <h1>Dragon Ball Z</h1>
    </div>

</div>





<div class="row">
    <div class="col p-xy">
        <h3>Personajes</h3>
        <hr>
        <ul>
            <li>Krilin - 700</li>
            <li>Goku - 1000</li>
            <li>Vegeta - 900</li>
        </ul>
    </div>
    <div class="col p-xy">
        <h3>Agregar</h3>
        <hr>

        <form class="form" (ngSubmit)="agregaPersonaje()">
            
            <input type="text" placeholder="Nombre" class="form-input">
            <input type="number" placeholder="Poder" class="form-input">
            
            <button type="submit" class="form-btn">
                Agregar
            </button>

        </form>

    </div>
</div>